body {

  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #42d10e;
  line-height: 26px;
  background: url("images/vegetables.jpg");
   background-size: cover;
}
.container {

  text-align: center;
  margin: 20%;
  padding: 30px;
  background: rgb(199, 18, 74)
  
}